body{
	
	background:white;
	
	
}

h1{
	text-align:center;
}
h2{
	text-align:center;
	padding: 40px 0px;
}

p{
	text-align:justify;
	
}
ul li{
	
	list-style: none;
	display:inline;
	padding:0px 30px;
	
	
}
ul{
	float:right;
	
}

#nav{
	
	display:none;
}

ul li:hover #nav {
	display:block
}

.logo{width:90px;}



